@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body { 
    height: 100%;
 }

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }

.mat-checkbox-label  {
    font-weight: 100 !important;
}
.mat-checkbox-layout  {
    margin-bottom: 0px !important;
}